@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
    padding: 0;
    margin: 0;
  }

  body {
    @apply bg-slate-100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  }
}

@layer components {
  .active {
    @apply tracking-wide transition-colors duration-300 cursor-pointer mb-2 lg:mb-0 text-base font-medium;
  }
  
  .active1 {
    @apply  transition border-b-2 border-slate-400 cursor-pointer mb-2 lg:mb-0 text-base tracking-wide font-medium;
  }
  
  .default {
    @apply hover:text-slate-300 transition border-b-2 border-slate-100 hover:border-slate-400 cursor-pointer mb-2 lg:mb-0 text-base font-medium;
  }
}
